In [57]:
# fer2013
# (48x48 pixel)

In [58]:
import pandas as pd
import numpy as np

In [59]:
train_csv=pd.read_csv('data/challenges-in-representation-learning-facial-expression-recognition-challenge/train.csv')

In [60]:
temp=train_csv['pixels'][1]

In [61]:
temp=temp.split()

In [62]:
len(temp)

2304

In [63]:
temp=np.array(temp)

In [64]:
temp=temp.reshape(48,48)

In [65]:
temp

array([['151', '150', '147', ..., '129', '140', '120'],
       ['151', '149', '149', ..., '122', '141', '137'],
       ['151', '151', '156', ..., '109', '123', '146'],
       ...,
       ['188', '188', '121', ..., '185', '185', '186'],
       ['188', '187', '196', ..., '186', '182', '187'],
       ['186', '184', '185', ..., '193', '183', '184']], dtype='<U3')

In [66]:
import cv2

In [67]:
uint_img = np.array(temp).astype('uint8')

grayImage = cv2.cvtColor(uint_img, cv2.COLOR_GRAY2BGR)

In [68]:
# 顯示圖片
cv2.imshow('My Image', grayImage)

# 按下任意鍵則關閉所有視窗
cv2.waitKey(0)
cv2.destroyAllWindows()

In [69]:
train_csv

       emotion                                             pixels
0            0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...
1            0  151 150 147 155 148 133 111 140 170 174 182 15...
2            2  231 212 156 164 174 138 161 173 182 200 106 38...
3            4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...
4            6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...
...        ...                                                ...
28704        2  84 85 85 85 85 85 85 85 86 86 86 87 86 86 91 9...
28705        0  114 112 113 113 111 111 112 113 115 113 114 11...
28706        4  74 81 87 89 95 100 98 93 105 120 127 133 146 1...
28707        0  222 227 203 90 86 90 84 77 94 87 99 119 134 14...
28708        4  195 199 205 206 205 203 206 209 208 210 212 21...

[28709 rows x 2 columns]